.auth-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.auth-form_buttons {
    display: flex;
    width: 100%;
    padding: 3rem 0;
    align-items: center;
    justify-content: flex-end;
}

.auth-form_buttons_link {
    margin-right: 3rem;
}

.auth-form_footer {
    width: 100%;
    display: flex;
    padding: 3rem 0;
    border-top: 1px solid var(--color-gray-lighter);
    justify-content: space-between;
}

/* SMALL */
@media screen and (max-width: 768px) {
    .auth-form {
        align-items: center;
    }

    .auth-form_buttons {
        flex-direction: column;
        justify-content: center;
    }

    .auth-form_buttons_link {
        margin: 0;
    }
}
  
  