.likeBtn {
    cursor: pointer;
    border: none;
    background: none !important;
    outline: none;
}

.likesResult {
    display: block;
    width: 2rem;
    line-height: 16px;
    text-align: center;
    color: var(--color-gray);
}

.likeBtn:hover >  svg {
    fill: black;
}