.commentAreaContainer {
    padding: 2rem 4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.commentsTitle {
    font-weight: var(--font-weight-regular);
}

.commentsCount {
    color: var(--color-gray);
}

.sortContainer {
    width: 100px;
}

@media screen and (max-width: 560px) {

    .commentAreaContainer {
        padding: 2rem 2.5rem;
    }

}