.arrowAnchor {
    position: relative;
    height: 100%;
    width: 20px;
}

.arrowAnchor:after{
    content:"";
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color: var(--color-gray) transparent transparent transparent;
    position: absolute;
    top: -2px;
    right: 2px;
}

.arrowAnchor.open:after{
    top: -9px;
    border-color: transparent transparent var(--color-gray)transparent;
}

.customSelect__indicator-separator {
    display: none;
}

.customSelect__control {
    border-radius: 2px !important;
    border-color: var(--color-gray-lighter) !important;
}

.customSelect__single-value {
    color: var(--color-gray) ! important; 
}